body
{
    font-size : 1.5em;
}

#maintable{
	width:780px;	
	border: solid 1px #000000;
	margin-left: auto;
	margin-right: auto;
    	
}

.header
{
	background-color: #a12d33;
	background: #ffffff url(bg.png) repeat top left;
}

.head1
{ 
 font-size: 12pt;
 text-align: center; 
 font-weight: bold; 
}
.subhead1
{ font-weight:bold;
 font-size: 12px;
 text-align: center; 
/* font-weight: bold; */
}

.subhead2
{ 
 font-size: 12px;
 text-align: center;
 font-style: italic;  
/* font-weight: bold; */
}

.sectionsubhead
{ 
 font-size: 12px;
 background-color: gray;
 text-align: left; 
 color: #ffffff;
 padding-left: 10px;
 font-weight: bold; 
}

#maintable .header
{
	background-color: #a12d33;
	background: #ffffff url(bg.png) repeat top left;
}
#maintable .head1
{ 
 font-size: 12pt;
 text-align: center; 
 font-weight: bold; 
}

#maintable .subhead1
{ font-weight:bold;
 font-size: 12px;
 text-align: center; 
/* font-weight: bold; */
}
#maintable .subhead2
{ 
 font-size: 12px;
 text-align: center;
 font-style: italic;  
/* font-weight: bold; */
}
#maintable .sectionsubhead
{ 
 font-size: 12px;
 background-color: gray;
 text-align: left; 
 color: #ffffff;
 padding-left: 10px;
 font-weight: bold; 
}
#maintable .gcelldata
{ height:16px;
 padding-left: 10px;
/* font-weight: bold; */
}
#maintable .infotext
{ 
  font-size: 10px;
  color: maroon; 
/* font-weight: bold; */
}

#maintable .textbox1
{ 
 /*padding-left: 10px;*/
 border: solid 1px #000000;
 height: 13px;
 font-size: 11px;
}
#maintable .textbox2
{ 
 /*padding-left: 10px;*/
 border: solid 1px #000000;
 height: 18px;
 width:65px;
 font-size: 11px;
}
#maintable .ddl1
{ 
 /*padding-left: 10px;*/
 border: solid 1px #000000;
 height: 18px;
 font-size: 11px;
}
#subtable1{	
	border: solid 1px #000000;
}

.subtable1cell {
	border: dotted 1px #000000;
	text-align: center; 
	}
.subtable1cell1 {
	border: dotted 1px #000000;
	text-align: left; 
	padding-left: 10px;
	}
.subtable1cell11 {
	border: dotted 1px #000000;
	text-align: left; 
	}

.textbox11
{ 
 /*padding-left: 10px;*/
 border: solid 1px #000000;
 height: 13px;
 font-size: 11px;
 width: 98%;
}

body{
	font-family: Verdana,arial,times; 
	font-size: 11px;
}

.redstar
{
 color: #ff0000;	
	
}