/* ######### Slanted Divider Menu CSS ######### */

.slantedmenu{
font-weight: bold;
}

.slantedmenu:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.slantedmenu ul{
text-indent: 8px;
padding: 3px 0;
margin: 0;
background-color: #53548a;
border: 1px solid #ffffff;
text-align: center; /*set value to "center" for example to center items*/
}

.slantedmenu ul li{
display: inline;
}

.slantedmenu ul li a{
color: #ffffff;
padding: 1px 0;
padding-left: 1px;
padding-right: 20px;
text-indent: -8px;
margin: 0;
text-decoration: none;
background: transparent url(slantdivider.html) top right no-repeat;
}

.slantedmenu ul li a:visited{
color: #afb958;
} 

.slantedmenu ul li a:hover{
color: white;
}